html, body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
    background-color: #0e0e0e;
    z-index: 0;
}

.main, .portfolio, .me {
    transition: 0.3s ease-in-out;
}

.hide {
    transform: scale(0);
    transition: 0.3s ease-in-out;
}